*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.3 rem;
  background-color: #1b1e2b;
  color: #d8dee9;
 max-width: 100vw;
}
.intro {
  top: 60%
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}
.brand-logo {
  display: flex;
  align-items: center;
}

.main-nav ul,
.footer-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  
  width: 100%;
}
.main-nav a,
.footer-nav a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
  display: flex;
  font-size: 1.2em;
}
.main-nav a:hover,
.footer-nav a:hover {
  color: #4C566A;
}
.main-header,
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header {
  padding:1em 5vw;
  background-color: rgb(27, 30, 43) ;
  position: fixed;
  align-self: center;
  width: 100vw;
  }
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}
.main-footer .container {
  display: flex;
  justify-content: space-between;
}
.main-footer {
  align-self: bottom;
  height: 70px;
  background-color: #202027;
  font-weight: bold;
}
.social-link img {
  width: 1.25em;
  margin-right: 0.25rem;
}
.title {
  font-weight: 900;
  font-size: 4.5em;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: .5rem;

}

.subtitle {
  font-weight: 600;
  font-size: 2.4em;
  margin-top: -1rem;
  margin-bottom: 0;
  letter-spacing: .5rem;
}
.slogan{
  font-weight: 400;
  font-size: 1.8em;
  
  letter-spacing: .3rem;
}

.description{
  font-weight: 400;
  font-size: 1.8em;
 
  margin-bottom: 2rem;
  
}
.btn {
  color: #d8d8d8;
  background-color: #1f8ccc;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  margin-top:2rem ;
}
.btn:hover {
  color: #2f303a;
  background-color: #d8d8d8;
}



.burger {
  display: none;
  justify-content: space-between;
}
.burger div {
  width: 50px;
  height: 9px;
  background-color: #d8d8d8;
  margin: 8px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
    
  }
}
@media screen and (max-width: 1024px) {
  .main-header {
    
    padding: 1em;
    align-items: center;
  }
  .brand-logo img {
    max-height: 75px;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 93vh;
    top: 10vh;
    display: flex;
    flex-direction: column;
    background-color: #1b1e2b;
    width: 100%;
    align-items: center;
    align-self: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 9;
  }
  .burger {
    display: block;
    cursor: pointer;
    transi
  }
  
  .container {
    padding:  25px;
    
  }
  p {
    text-align: justify;
    text-justify: inter-word;
  }
}
.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-9px, 15px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-9px, -15px);
}
 




/* Intro section */



.home-main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  height: 100vh;
  margin: 0;

}
.home-main-section .covers-img { 
  justify-content: flex-end;
  height:100vh;
  width: auto;
}

.home-main-section .call-to-action {
 
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 35em;
  margin-left: 5vw;
 
  justify-content: space-between;
  
  
}
@media (max-width: 900px) {
  
  .home-main-section .covers-img {
    display: none;
  }
  .home-main-section .call-to-action { 
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    padding:25px;
    margin-top: 20em;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 0;
    justify-content: space-between;
    background-color: rgba(76, 86, 106, 0.274);
  }

  .title {
    font-weight: 600;
    font-size: 3em;
    margin-top: 0;
    
  }
  .subtitle {
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 0;
    
  }
  
  .slogan {
    font-weight: 500;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .btn{
    margin-top: 0;
  }
}







/* about-Contact*/







.about-main-section {
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  height: 90vh;
  background-color: #4C566A;
}
.about-main-section .call-to-action{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20em;
  margin-left: 5vw;
  margin-right: 4vw;
  align-self: lex-end;
}
.about-main-section hr {
  color: #1b1e2b;
  border: .5rem solid ;
  margin: 0;
  width: 70%;
  align-self: flex-start;
}

.about-main-section .covers-img {
 height: 100%;
}
@media (max-width: 800px) {
  .about-main-section {
    
    justify-content: center;
    max-width: 90vw;
  }
  .about-main-section .covers-img {
    display: none;
  }
  .about-main-section .call-to-action{
    margin-top: 0;
    margin-bottom: 0;
  }
  .about-main-section .title {
    font-weight: 600;
    font-size: 3em;
    margin-top: 0;
    
  }
  .about-main-section .subtitle {
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 0;
    
  }
  
  .about-main-section .description {
    font-weight: 500;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .about-main-section hr {
    color: #4C566A;
    border: .5rem solid ;
    margin-bottom: 1em;
    width: 100%;
    align-self: flex-start;

  }
}





/*showcase section */

.showcase-main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background-color: #1b1e2b;
  flex-grow: 1;
  height: 90vh;
  padding-top: 10rem;
}
.showcase-main-section .call-to-action{

  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-around;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 450px;
  margin: 2.5vw;
  text-align: center;
  font-family: arial;
  background-color: #4C566A;
  padding:1em
}

.card-title {
  color: #d8dee9;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #1b1e2b;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

@media (max-width: 800px) {
  .showcase-main-section {
    justify-content: flex-start;
   height: auto;
   padding-right: 2em;
   padding-left: 2em;
  }
  .showcase-main-section .call-to-action  {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    margin-left: 2em;
  }
  .showcase-main-section .title {
    font-size: 2em;
  }

}

/* join section */

.join-main-section {
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  height: 80vh;
  background: url(/res/join.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}


.join-main-section .call-to-action{

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  margin: 5em;
  padding: 5em;
  background-color: #1b1e2b71;
}



@media (max-width: 800px) {
  .join-main-section {
    
    justify-content: center;
    max-width: 90vw;
  }
  .join-main-section .call-to-action{
   padding: 2em;
   margin-top: 0;
   margin-bottom: 0;
  }
  .join-main-section .btn{
    margin-top: 50px;
  }
}